<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guess The Number</title>
    <meta name="description" content="Guess The Number web edition">
    <meta name="author" content="Chen Hui Jing">
    <link rel="stylesheet" href="styles.css">
  </head>

  <body class="flex play">
    <main class="flex-item">

      <div class="text-wrapper">
        <h1>I'm thinking of a number between 1 and 100.</h1>

        <h2><%= guess_prompt %></h2>

        <p><%= guess_description %></p>

        <form action="/play" method="post">
          <input class="guess-value" type="number" name="guessed_number" min="0" max="100" id="guessed_number" autofocus />
          <input class="btn" type="submit" value="Guess" />
        </form>

      </div>

    </main>
  </body>
</html>
