<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guess The Number</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body class="flex play">
    <main class="flex-item">
      <div class="text-wrapper">
        <h1>You Win!</h1>

        <img class="trophy" src="img/trophy.svg" alt="Trophy">

        <h2>
          You guessed it! I was thinking of the number <%= secret_number %>.
        </h2>

        <a class="btn" href="/new">Play Again</a>
      </div>
    </main>
  </body>
</html>
