@import url(https://fonts.googleapis.com/css?family=Fjalla+One|Average);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

h1,
h2,
h3,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0; }

hr {
  border: 0;
  height: 0;
  margin: 0; }

ol,
ul {
  list-style: none; }

input,
textarea,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  border: 0;
  -webkit-border-radius: 0;
          border-radius: 0;
  outline: 0;
  font-size: inherit; }
  input:hover, input:active, input:focus,
  textarea:hover,
  textarea:active,
  textarea:focus,
  button:hover,
  button:active,
  button:focus {
    border: 0;
    outline: 0; }

img {
  max-width: 100%; }

body {
  height: 100%;
  margin: 0;
  color: #fff;
  font-family: "Average", serif; }

main {
  padding: 1em; }

h1 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.5em; }

h2 {
  margin-bottom: 0.5em; }

p {
  line-height: 1.5;
  margin-bottom: 1em; }

label span {
  display: block;
  margin-bottom: 0.5em; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.btn {
  font-family: 'Fjalla One', sans-serif;
  color: #000;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  position: relative;
  line-height: 90px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 2px solid #648c30;
  padding: 0;
  background: #8cc049;
  -webkit-box-shadow: 0 4px #648c30;
          box-shadow: 0 4px #648c30;
  -webkit-transition: none;
  transition: none; }
  .btn:active {
    -webkit-box-shadow: 0 0 #648c30;
            box-shadow: 0 0 #648c30;
    top: 4px; }

.start {
  background: -webkit-linear-gradient(305deg, #7a378b, #b44473);
  background: linear-gradient(145deg, #7a378b, #b44473);
  background-size: 1000% 1000%;
  -webkit-animation: fade 7s ease infinite;
          animation: fade 7s ease infinite; }

@-webkit-keyframes fade {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes fade {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.play {
  background: url("img/bg.jpg"); }

.title {
  font-size: 15vmin;
  margin: 5vmin 0; }
  .title span {
    -webkit-transform: rotate(-10deg) skew(-10deg);
        -ms-transform: rotate(-10deg) skew(-10deg);
            transform: rotate(-10deg) skew(-10deg);
    display: block;
    text-shadow: #333 1px 1px, #333 2px 2px, #333 3px 3px, #333 4px 4px, #333 5px 5px, #333 6px 6px; }

.text-wrapper {
  display: inline-block;
  padding: 1em;
  -webkit-border-radius: 1em;
          border-radius: 1em;
  background: rgba(0, 0, 0, 0.25); }

.guess-value {
  font-size: 10vmin;
  text-align: center;
  width: 4ch;
  margin: 0 auto 1rem; }

.trophy {
  width: 30vmin; }
